# JUCE Projucer
*.autosave
*.jucer.backup
JuceLibraryCode/

# Build directories
Builds/
DeriveData/
build/
bin/
obj/

# Platform-specific files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
*.xcodeworkspace/
*.pbxuser
*.mode*

# OS-specific filters
.DS_Store
Thumbs.db

# Debug and temporary files
*.pdb
*.ilk
*.log
*.lastbuildstate
*.recipe
*.tlog

# Live Projects
test project/

# Asset Compositions
Kronos Compositions

# Obsidian
.obsidian/
.smart-env/
Time Component Migration.md