# JUCE Projucer
*.autosave
*.jucer.backup
JuceLibraryCode/

# Build directories
Builds/
DeriveData/
build/
bin/
obj/
KronosInstallerRoot/
Kronos Installers/
*.pkg
Kronos Builds/
*.iss
*.vst3
*.vst
*.au
*.exe

# Platform-specific files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
*.xcodeworkspace/
*.pbxuser
*.mode*

# OS-specific filters
.DS_Store
Thumbs.db

# Debug and temporary files
*.pdb
*.ilk
*.log
*.lastbuildstate
*.recipe
*.tlog

# Live Projects
test project/

# Asset Compositions
Kronos Compositions/
Promo Content/
*.afphoto

# Obsidian
.obsidian/
.smart-env/
Time Component Migration.md

# Miscellaneous
misc_notes/
Plugin Codesigning and Notarization.md